input {
    margin-bottom: 10px;
    /*outline: 1px solid red;*/
    /*border: 1px solid #F00;*/
    /*border-color: red;*/
}

select {
    margin-bottom: 10px;
}

#s1 {
    /*border: 1px solid #F00;*/
    /*color: red;*/
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red*/
}

#s2 {
    /*border: 1px solid #F00;*/
    /*color: red;*/
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red*/
}

.brd {
    outline: 1px solid red;
    display: none;
}

.msg {
    color: red;
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red;*/
}

.msg1 {
    color: red;
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red;*/
}