input {
    /*margin-bottom: 10px;*/
    /*outline: 1px solid red;*/
    /*border: 1px solid #F00;*/
    /*border-color: red;*/
}

select {
    /*margin-bottom: 10px;*/
}

#b1-s {
    /*border: 1px solid #F00;*/
    color: red;
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red*/
}

#b2-s {
    /*border: 1px solid #F00;*/
    color: red;
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red*/
}

#b1 {
    border: 1px solid red;
    border-color: black;
}

#b2 {
    border: 1px solid red;
    border-color: black;
}


/*.brd {
    outline: 1px solid red;
    display: none;
}*/

.msg {
    /*color: red;*/
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red;*/
}

.msg1 {
    /*color: red;*/
    /* Цвет текста */
    /*display: none;*/
    /* Прячем сообщение */
    /*border-color: red;*/
}