body {}

input {
    margin-bottom: 10px;
    /*border-color: red;*/
}

select {
    margin-bottom: 10px;
}

.s1 {}

.brd {}

#msg {
    color: red;
    /* Цвет текста */
    display: none;
    /* Прячем сообщение */
}

#msgq {
    color: red;
    /* Цвет текста */
    display: none;
    /* Прячем сообщение */
}